.cardcontainer{
 width: 25%;
 padding: 12px;
 border-radius: 10px;
 background-color: white;
 border: 3px solid #E0e0e0;
//  box-shadow: 2px 2px 2px #E0E0E0, -2px -2px 2px #E0E0E0;
    .imgContainer{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin-bottom: 5px;
        img{
            width: 20px;
            height: 20spx;
        }
    }
}

.title{
    font-size: 12px;
}

.pricingContainer{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}


.price{
    font-size: 20px;
    font-weight: 700;
}

.percentage{
    height: fit-content;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 25px;
    background-color: #e9f9ec;
    color: #4ac15a;
    font-weight: 500;
    
}