.AnalyticsContainer{
    width: 80%;
    padding: 10px; 
    overflow-y: scroll; 
    position: relative;
}

.miniAnalysisContainer{
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.AnalyticsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Set the scrollbar thumb color */
    border-radius: 10px; /* Optional: Add rounded corners to the scrollbar thumb */
  }

.boxes{
    width: 100%;
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
    height: 360px;
}


@media screen and (max-width: 1180px) {
    .boxes{
        height: fit-content;
    }
}

@media screen and (max-width: 900px){
    .AnalyticsContainer{
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .miniAnalysisContainer{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 2%;
        padding: 0;
    }
}

@media screen and (max-width: 580px) {
    .boxes{
        flex-direction: column;
    }
}