.DNcontainer{
    img{
        cursor: pointer;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    // position: sticky;
    // top: 0;
    // background-color: white;
    right: 0;
    h2{
        font-size: 25px;
        font-weight: 500;
    }
}

.profileContainer{
    display: flex;
    column-gap: 20px;
    align-items: center;
    .signinImg{
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
}


.inputContainer{
    position: relative;
    input{
        width: 100%;
        padding: 5px 10px;
        border-radius: 7px;
    }
    input:focus, input:focus-visible{
        border: 0;
        outline: 0;
    }
    img{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}

@media screen and (max-width:600px) {
    .inputContainer{
        background-color: rgb(212, 212, 216);
        display: flex;
        width: 30px;
        border-radius: 5px;
        height: 30px;
        justify-content: center;
        align-items: center;
        padding: 0;
        input{
            display: none;
        }
        img{
            position: sticky;
            margin: 0;
        }
        
    }
}