.dashboardContainer{
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    column-gap: 30px;
    height: 900px;
    justify-content: center;
    max-height: 100vh;
    position: relative;
}


@media screen and (max-width: 900px) {
    .dashboardContainer{
        padding: 0px;
    }
}